.page{
    display: flex;
}

.title {
    width: max-content;
}

@media screen{
    .filter {
        width: 20%;
        border: black 1px;
        border-radius: 8px;
    }

    .graph {
        width: 80%;
        border: black 1px;
        border-radius: 8px;
    }
}